.MidAreaLayout {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 72%;
	height: 90%;
	background-color: #f5f5f5;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	padding: 10px;
	overflow: hidden;
	position: relative;
}

.BlogList {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow-y: scroll;
}

.BlogList::-webkit-scrollbar {
	width: 17px;
	background-color: transparent;
}

.BlogList::-webkit-scrollbar-thumb {
	background-color: #ccc;
	border-radius: 50px;
	background-clip: content-box;
	border: 5px solid transparent;
}

.FloatingIconAddBlog {
	background-color: red;
	position: absolute;
	bottom: 20px;
	right: 20px;
	padding: 5px 15px 10px 15px;
	border-radius: 50px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	color: white;
	cursor: pointer;
	/* transform: rotate(90deg); */
	-webkit-box-shadow: 8px 10px 25px -4px rgba(0, 0, 0, 0.47);
	-moz-box-shadow: 8px 10px 25px -4px rgba(0, 0, 0, 0.47);
	box-shadow: 8px 10px 25px -4px rgba(0, 0, 0, 0.47);
	transition: all 0.5s;
}

.FloatingIconAddBlog span {
	margin-left: 10px;
	margin-right: 10px;
	padding-top: 2px;
}

.MainBottomSection {
	position: absolute;
	left: 40px;
	bottom: 0px;
	background-color: ghostwhite;
	border: 2px solid black;
	overflow: hidden;
	transition: all 0.5s;
	transform: translateY(100%);
	padding: 15px;
	border-bottom: none;
	border-top-right-radius: 30px;
	border-top-left-radius: 30px;
	width: calc(100% - 140px);
	height: 80%;
	display: flex;
}

.CreateBlogSection {
	width: 100%;
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.CreateBlogSectionInput {
	width: 100%;
	height: 50%;
	max-height: 500px;
	max-width: 100%;
	min-width: none;
	min-height: none;
	overflow: hidden;
	resize: none;
}

.CreateBlogSectionInput textarea::-webkit-scrollbar {
	display: none;
}

.SelectImages {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.BottomPartCreateBlog {
	display: grid;
	width: 100%;
	grid-template-areas: "ShowImages ActionButtons";
	grid-template-columns: 1.4fr 0.6fr;
}
.ActionButtons {
	grid-area: "ActionButtons";
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
}

.ShowImages {
	grid-area: "ShowImages";
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
}

.PostBlog,
.ShowBlog {
	margin-top: 10px;
}

.ShowBlogSection {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.BlogStructure {
	width: 90%;
	background-color: white;
	border-radius: 10px;
	padding: 10px 20px;
	border: 2px solid black;
}
