.layout {
	background-color: orangered;
	height: 10vh;
	width: 100vw;
	padding: 5px 0px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.logoSVG {
	height: 100%;
	width: 10%;
	margin-left: 2%;
}

.navOptions {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 80%;
	margin-right: 2%;
}

.navOption {
	margin-left: 1rem;
	margin-right: 1rem;
	color: white;
	font-size: 1.15rem;
	transition: all 0.2s;
}

.navOption:hover {
	color: #faebd7;
	cursor: pointer;
}

.searchBar {
	width: 40%;
	height: 60%;
	border-radius: 40px;
	background-color: #ededed;
	border: 2px solid transparent;
	padding: 1rem;
	outline: none;
	margin-right: 2%;
	font-size: 14px;
}
