.rightLayout {
	display: none;
	height: 100%;
	width: 28%;

	flex-direction: column;
	padding-top: 2vh;
	background-color: white;
	border-left: 2px solid black;
	align-items: flex-start;
	transition: all 2s;
}

.followersListBody,
.followingListBody {
	width: 100%;
	height: 80%;
	max-height: 70vh;
	margin-top: 10px;
	overflow-y: scroll;
}

.followersListBody::-webkit-scrollbar,
.followingListBody::-webkit-scrollbar {
	display: none;
}

.followersList,
.followingList {
	width: 100%;
	height: 100%;
	position: relative;
}

.followersListHeader,
.followingListHeader {
	width: 100%;
}

.followersListHeaderClose,
.followingListHeaderClose {
	position: absolute;
	right: 24px;
	top: 0px;
	width: 24px;
	height: 24px;
}

.followersListHeaderClose img,
.followingListHeaderClose img {
	width: 100%;
	height: 100%;
	cursor: pointer;
	object-fit: cover;
	border: 2px solid black;
	border-radius: 100%;
	padding: 4px;
}

.followersListHeaderText,
.followingListHeaderText {
	font-size: 1.5rem;
	font-weight: bold;
	text-align: center;
	text-decoration: underline;
	text-underline-offset: 4px;
	text-shadow: 6px 2px 7px rgba(82, 72, 72, 0.6);
}

.followersListBodyLoaderDiv,
.followingListBodyLoaderDiv {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.followersListBodyLoader {
	width: 16px;
	height: 16px;
	border-radius: 50%;
	display: block;
	margin: 15px auto;
	position: relative;
	background: #fff;
	box-shadow: -24px 0 #fff, 24px 0 #fff;
	box-sizing: border-box;
	animation: shadowPulse 1s alternate infinite;
}

@keyframes shadowPulse {
	33% {
		background: #fff;
		box-shadow: -24px 0 #ff3d00, 24px 0 #fff;
	}
	66% {
		background: #ff3d00;
		box-shadow: -24px 0 #fff, 24px 0 #fff;
	}
	100% {
		background: #fff;
		box-shadow: -24px 0 #fff, 24px 0 #ff3d00;
	}
}

.unfollowBtn {
	box-shadow: inset 0px 1px 0px 0px #f7c5c0;
	background: linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
	background-color: #fc8d83;
	border-radius: 6px;
	border: 1px solid #d83526;
	display: inline-block;
	cursor: pointer;
	text-align: center;
	margin: 3px 0px;
	color: #ffffff;
	font-size: 16px;
	font-weight: bold;
	padding: 5px 0px;
	width: 100%;
	text-decoration: none;
	text-shadow: 0px 1px 17px #b23e35;
}
.unfollowBtn:hover {
	background: linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
	background-color: #e4685d;
}
.unfollowBtn:active {
	position: relative;
	top: 1px;
}
